.sidebar {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 55px;
      background-color: white;
      width: 72px;
      z-index: 200;
      padding-top: 5px;
}

@media (max-width: 1200px) {
      .sidebar {
            position: fixed;
            left: 0;
            bottom: 0;
            top: 55px;
            background-color: white;
            width: 72px;
            z-index: 200;
            padding-top: 5px;
      }
}

@media (min-width: 1200.1px) {
      .sidebar {
            width: 220px;
      }
}

.sidebar-link {
      height: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
}

@media (min-width: 1200.1px) {
      .sidebar-link {
            height: 40px;
            display: flex;
            justify-content: left;
            flex-direction: row;
            cursor: pointer;
            margin-bottom: 8px;
      }
}

.sidebar-link:hover {
      background-color: rgb(235, 235, 235);
      border-radius: 8px;
}

.sidebar-link img {
      height: 24px;
      margin-bottom: 4px;
}

@media (min-width: 1200.1px) {
      .sidebar-link img {
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 24px;
            padding-right: 25px;
      }
}

.sidebar-link div {
      font-size: 10px;
}

@media (min-width: 1200.1px) {
      .sidebar-link div {
            font-size: 14px;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-right: 25px;
      }
}
